.hero{
  background-image: url('../../img/hero-bg.png');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  @include retina-bg{
    background-image: url('../../img/hero-bg@2x.png');
  }
}

.hero__container{
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__info{
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.hero__heading{
  color: $dark-color;
  font-size: 26px;
  font-weight: $fw-700;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 48px;
  span{
    font-size: 55px;
    line-height: 55px;
  }
}

.hero__comfort-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: auto;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hero__comfort-item{
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:first-child){
    margin-left: 20px;
  }
}

.hero__form{
  margin-left: auto;
}

@include breakpoint-down (930px){
  .hero__container{
    flex-direction: column;
    align-items: center;
  }
  
  .hero__form{
    margin-left: 0;
  }
}

@include breakpoint-down(550px){
  .hero{
    background-image: none;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,122,179,1) 100%);
  }
  
  .hero__heading{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    span{
      font-size: 24px;
      line-height: 25px;
    }
  }
  
  .hero__info{
    width: 100%;
    max-width: 100%;
  }
  
  .hero__comfort-list{
    max-width: 100% ;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero__comfort-item{
    margin-top: 15px;
    margin-bottom: 15px;
    &:not(:first-child){
      margin-left: 0;
    }
  }
  
  .hero__form{
    width: 100%;
    max-width: 100%;
    padding: 20px 30px;
  }
}

@include breakpoint-down(350px){
  .hero__comfort-list{
    justify-content: space-around;
  }
}