.search{
  margin-bottom: -5px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.search__container{
  display: flex;
  flex-direction: column;
}

.search__heading{
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after{
    width: 170px;
    height: 2px;
    display: inline-block;
    content: '';
    margin-top: 22px;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 10%, rgba(24,158,236,0.9290091036414566) 50%, rgba(255,255,255,1) 91%);
  }
}

.search__info{
  display: flex;
  align-items: center;
}

.search__location{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__info-box{
  display: flex;
  flex-direction: column;
  max-width: 435px;
  margin-left: auto;
}

.search__name{
  color: $blue-color;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 18px;
}

.search__information{
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  &:not(:last-child){
    margin-bottom: 40px;
  }
}