.site-header__container{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.site-header__logo{
  margin-right: 26px;
}

.site-header__info{
  font-weight: $fw-400;
  font-size: 14px;
  line-height: normal;
  max-width: 220px;
  color : $blue-color;
  margin: 0;
  margin-right: 115px;
  cursor: default;
  &:hover{
    opacity: 0.5;
  }
}

.site-header__call-link{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid #55a831;
  border-radius: 10px;
  margin-right: 55px;
  &:hover{
    opacity: 0.5;
  }
  &::before{
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    background-image: url('../img/edit-icon.png');
    @include retina-bg{
      background-image: url('../img/edit-icon@2x.png');
    }
  }
  
}

.site-header__call-link-text{
  text-transform: uppercase;
  font-weight: $fw-700;
  font-size: 14px;
  max-width: 95px ;
  margin: 0;
  color: $green-color;
}

.site-header__work-time{
  margin-right: auto;
}

@include breakpoint-down(1200px){
  .site-header__container{
    justify-content: center;
  }
  .site-header__info{
    margin-right: 0;
  }
  
  .site-header__call-link{
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(1000px){
  .site-header__phone{
    margin-top: 30px;
  }
}

@include breakpoint-down(750px){
  .site-header__logo{
    margin-right: 0;
  }
  
  .site-header__info{
    margin-left: auto;
    margin-right: auto;
  }
  
  .site-header__call-link{
    margin-right: 0;
    margin-left: 0;
  }
  
  .site-header__work-time{
    margin-right: 30px;
    margin-top: 30px;
  }
}

@include breakpoint-down(580px){
  .site-header__container{
    flex-direction: column;
  }
  
  .site-header__container > *:not(:first-child) {
    margin-top: 30px;
  }
  
  .site-header__work-time{
    margin-right: 0;
  }
}