.special-sale{
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../img/man-with-tool-belt.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  @include retina-bg{
    background-image: url('../img/man-with-tool-belt@2x.png');
  }
}

.special-sale__container{
  display: flex;
  justify-content: space-between;
}

.special-sale__info-box{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.special-sale__info{
  color: #008cce;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.special-sale__heading{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 0;
}

@include breakpoint-down(850px){
  .special-sale{
    background-image: none;
    background-color: #ccc;
  }
  
  .special-sale__container{
    flex-direction: column;
    > *{
      width: 100%;
      max-width: 100%;
    }
  }
  
  .special-sale__info-box{
    margin-bottom: 15px;
    align-items: center;
  }
  
  .special-sale__info{
    font-size: 25px;
    line-height: 27px;
  }
  
  .special-sale__heading{
    margin-top: 25px;
    text-align: center;
  }
  
  .special-sale__form{
    padding: 20px;
  }
}